.button {
    font-weight: 600;
    // font-size: 1.125em;
    &.is-primary {
        color: $black-text-ROE;
        &:hover {
            background-color: #F9DD59;
        }
    }
    &.is-dark {
        &:hover {
            background-color: black;
        }
    }
    &.is-success {
        &:hover {
            background-color: #252F90;
        }
    }
    &.is-danger {
        &:hover {
            background-color: #df3a08;
        }
    }
    &.is-outlined {
        &:hover {
            background-color: #cacaca;
        }
    }
}