body.has-navbar-fixed-top {
    padding-top: 4rem + $navbar-padding-vertical*2;
}


.navbar-end > .navbar-item {
    font-size: 1.25rem;
    font-weight: 600;
    color: $black-text-light-ROE;
    // border-bottom: 4px transparent solid;
    border-radius: 0;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, $yellow-ROE-20 50%, transparent 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
    &.is-active {
        border-bottom: 4px $yellow-ROE solid;
    }
    &:hover {
        // background-color: ;
        background-position: 0 100%;
    }
}