@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// Import Bulma settings variables 
@import "../../commons/styles/initial-variables-bulma.scss";
// Import Bulma
@import "~bulma/bulma";
// Import specific styles
@import "footer.scss";
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
// check variable
@import 'navbar';
@import 'buttons';
body {
    line-height: 1.4;
}

ol {
    padding-left: 1em;
}

.title {
    color: $black-text-ROE;
}

$icon-width: 6rem;
$circle-width: 50px;
$yellow-light:#F5CC49;
.span-icon-ROE-homepage>svg {
    width: $icon-width;
    margin: auto;
    display: block;
    margin-bottom: 12px;
    //margin-top: -($icon-width/2 + $circle-width/2);
    &:hover {
        circle {
            fill: $yellow-ROE;
        }
        path {
            fill: $purple-ROE;
        }
    }
}

$padding-top-bottom-sections: 15px;
$padding-left-right-sections: 12px;
.background-progress {
    padding-top: $padding-top-bottom-sections;
    padding-bottom: $padding-top-bottom-sections;
    @include from($desktop) {
        background: linear-gradient(to right, #F5CC4933 70%, white 30%);
        padding-left: $padding-left-right-sections + 36px;
    }
    @include until($desktop) {
        background: #F5CC4933;
        padding-left: $padding-left-right-sections;
        padding-right: $padding-left-right-sections;
    }
}

.double-border {
    background-color: #F5CC4933;
    border: 2px solid #F5CC49;
    padding: 12px;
}

.double-border-thin {
    background-color: #F5CC4933;
    border: 2px solid #F5CC49;
    padding: 6px;
}

// wagtail header
#wagtail header {
    background-color: #F5CC49;
}

.tag {
    font-size: $size-7;
    &::before {
        content: "#";
    }
}

p>a,
a.is-link {
    text-decoration: underline;
    font-size: $size-7;
    &:hover {
        color: #014E9A;
    }
}

// TODO: define small => 14px = 0.875em
.columns {
    margin-left: 0;
    margin-right: 0;
    .column {
        @include from($desktop) {
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
}

$icon-author-width: 2.5rem;
.block-author {
    figure {
        width: $icon-author-width + 0.5;
        float: left;
    }
    p,
    span,
    a {
        margin-left: 0.5rem;
        line-height: $icon-author-width;
        font-size: $size-7;
    }
    a {
        float: right;
    }
}

.block-author-article {
    @include from($desktop) {
        figure {
            width: $icon-author-width + 0.5;
            float: left;
            margin-right: 0.5rem;
        }
        .subtitle {
            display: inline-block;
        }
        // span,p {
        //     line-height: $icon-author-width - 1;
        //     font-size: $size-7;
        // }
    }
    @include until($desktop) {
        img {
            margin: auto;
            margin-bottom: 1em;
            width: 50%;
        }
        .subtitle {
            width: 100%;
            display: block;
        }
    }
}

.is-centered-mobile {
    @include until($desktop) {
        justify-content: center;
        text-align: center;
    }
}

.image-author {
    width: $icon-author-width;
    display: block;
    @include until($tablet) {
        margin-left: auto;
        margin-right: auto
    }
}

.content {
    time {
        float: right;
        font-size: $size-7;
    }
    display: block;
}

.is-vcentered {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pagination-link {
    @include until($desktop) {
        display: none;
    }
}

.pagination-link-button {
    @include from($desktop) {
        display: none;
    }
}

.icon-share {
    h3 {
        text-align: center;
    }
    @include from($desktop) {
        float: right;
    }
}

.our-team {
    @include from($desktop) {
        figure {
            width: $icon-author-width + 0.5;
            float: left;
            margin-right: 0.5rem;
        }
        span,
        p {
            line-height: $icon-author-width - 1;
        }
    }
}

.btn_social_media_share {
    // margin-right: 0.5em;
}

.concept {
    .resume_concept {
        margin-bottom: 1.2em;
        width: 60%;
        .button {
            width: 60%;
        }
    }
}

.concept-page-cta-btns {
    .button {
        min-width: 30%;
        margin-left: 1em;
    }
}

.card-header-icon {
    border: none;
    background-color: transparent;
    &:hover {
        background-color: $grey-light;
    }
}

.collapse {
    visibility: collapse;
    max-height: 0px;
    // overflow: hidden;
    padding: 0;
    transition: max-height .5s cubic-bezier(0, 1, 0, 1);
    &.show {
        visibility: visible;
        padding: 0.5rem 0.875rem 1rem 0.875rem;
        max-height: max-content;
        transition: max-height 1s ease-in-out;
    }
}

.icon-metrics {
    $width: 136;
    background-image: url("data:image/svg+xml,%3Csvg width='"+$width+"' height='"+$width+"' viewBox='0 0 136 136' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='68' cy='68' r='68' fill='%233B449F' fill-opacity='0.4'/%3E%3Ccircle cx='70.5' cy='59.5' r='47.5' fill='%233B449F'/%3E%3Ccircle cx='82.5' cy='52.5' r='41.5' fill='white'/%3E%3C/svg%3E%0A");
    display: flex;
    width: 136px;
    height: 136px;
    margin: 0 auto 1em auto;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 2em;
    padding-bottom: 2em;
}