{% load wagtailcore_tags  %}
{% if ancestors|length > 1 %}
    <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            {% for page in ancestors %}
                {% if page.is_root == False %}
                    <li><a href="{% pageurl page %}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}

            <li class="is-active">{{ page_title }}</li>
        </ul>
    </nav>
{% endif %}