{% load wagtailcore_tags %}

<div class="tile is-parent">
    <article class="tile is-child box">
        <div class="content">
            <span class="span-icon-ROE-homepage">
                {% comment %} <img class="icon-ROE-homepage" src="{{image.url}}" alt="{{image.title}}"> {% endcomment %}
                {{image.file_content|safe}}
            </span>
            <p class="subtitle has-text-centered">{{title_card}}</p>
            <div class="content has-text-centered">
                {{descrpition_card | richtext}}
            </div>
        </div>
    </article>
</div>
