{% extends "base.html" %}
{% load i18n %}


{% block body_class %}template-404{% endblock %}

{% block content %}
    <h1>{% translate "Page not found" %} </h1>

    <h2>{% translate "Sorry, this page could not be found." %} </h2>
{% endblock %}
