<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>Internal server error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <h1>{% translate "Internal server error" %} </h1>

        <h2>{% translate "Sorry, there seems to be an error. Please try again soon." %} </h2>
    </body>
</html>
