{% load static wagtailuserbar %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'styles_app.css' %}">

        {% block extra_meta %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="has-navbar-fixed-top {% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        {% include "header.html" %}
        {% block hero %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        <main class="app-content">
            {% block content %}{% endblock %}
        </main>

        {% include "footer.html" %}

        {# Global javascript #}
        <script src="{% static 'app.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
