{% load static menus_tags i18n %}
{% get_menu "footer-legal" as navigation_footer_legal %}


<footer class="footer footer-dark mt-3">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="footer-logo">
                    <img src="{% static 'icon/logo_white.svg' %}" width="150" height="180">
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>ROpenExo</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="#">{% translate "Accueil" %} </a></li>
                        <li><a href="#">{% translate "A propos" %} </a></li>
                        <li><a href="#">{% translate "Notre solution" %} </a></li>
                        <li><a href="#">{% translate "Contact" %} </a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3 class="">Docs</h3>
                    </div>
                    <ul class="link-list">
                        {% for item in navigation_footer_legal.menu_items.all %}
                            <li>
                                <a href="{{ item.link }}" {% if item.open_in_new_tab %} target="_blank" {% endif %}>
                                    {{ item.title }} 
                                </a>
                            </li>
                        {%endfor%}
                        <!-- <li><a href="#">Accessibilité</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Social</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="{{ settings.home.SocialMediaSettings.facebook }}">
                            <div class="navbar-item">
                                <img src="{% static 'icon/facebook.svg' %}" alt="icon name" width="30" height="50">
                            </div>
                        <li><a href="{{ settings.home.SocialMediaSettings.twitter}}">
                            <div class="navbar-item">
                                <img src="{% static 'icon/twitter.svg' %}" alt="icon name" width="30" height="50">
                            </div>
                        </a></li>
                        <li><a href="{{ settings.home.SocialMediaSettings.linkedin}}">
                            <div class="navbar-item">
                                <img src="{% static 'icon/linkedin.svg' %}" alt="icon name" width="30" height="50">
                            </div>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content has-text-centered">
            <p class="heading">ROPENEXO-2021</p>
        </div>
    </div>
</footer>