{% load static wagtailuserbar menus_tags cache custom_tags %}
{% get_menu "main" as navigation %}
<header>
    <nav class="navbar is-spaced  has-shadow is-fixed-top" role="navigation" aria-label="Navigation générale">
        <div class="navbar-brand">
            <a class="navbar-item pl-0-dektop" href="/">
                <img class="mr-2" src="{% static 'icon/Logo.svg'%}" alt="logo">
                <strong >ROPENEXO</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" 
                aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                {% main_menu_items request.path navigation.menu_items.all %}
            </div>
        </div>
    </nav>
</header>