

<div class="tile is-parent">
    <article class="tile is-child">
    <div class="content">
        <span class="span-icon-ROE-homepage">
            <img class="icon-ROE-homepage" src="/static/icon/opensource2.svg">
        </span>
        <p class="subtitle has-text-centered">{{value.title_innovation}}</p>
        <div class="content has-text-centered">
                {{value.content_text}}
        </div>
    </div>
    </article>
</div>
