{% load static wagtailcore_tags %}

<div class="section">
    <div class="columns is-full-desktop is-vcentered-desktop background-progress mb-6">
        <div class="column is-half content">
            <div class="content">
                <h2>{{value.title}}</h2>
                <h4>{{value.subtitle}}</h4>
                {{value.content_text | richtext}}
            </div>
        </div>
        <div class="column">
            <figure class="image is-90x90">
                <img src="{% static 'photos/EQUIPE-1-scaled.jpg'%}" alt="photo membres">
            </figure>
        </div>
    </div>
</div>