{% load static wagtailcore_tags %}
<div class="section">
    <h3 class="title is-3 has-text-centered">{{value.description}}</h3>
    <div class="tile is-ancestor">
        {% for block_innovation in value.innovations %}
            {% include_block block_innovation %}
        {% endfor %}
    </div>
</div>
