{% load static wagtailcore_tags %}

<div class="section">
    <h3 class="title is-3 has-text-centered">{{value.title}}</h3>
    {{value.description | richtext}}
    <div class="tile is-ancestor">
        {% for block_constat in value.constats %}
            {% include_block block_constat %}
        {% endfor %}
    </div>
</div>
