{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n wagtailcore_tags %}

{% load static %}

{% block content %}
<!--Section de bienvenue-->
<div class="container is-fullhd">
    <div class="py-4">
        <h2 class="title is-1 has-text-centered"> {{page.title}} </h2>
        <div class="px-4">
            <div class="content is-medium">
                <div class="box has-background-primary">
                    <h3> {% trans "L'accesibilité sur le site Udez :" %} </h3>
                    <p>
                        {% trans "Accessibilité, nous contacter :
                        Décrivez-nous précisément votre problème et n'oubliez pas de nous donner vos coordonnées pour que nous puissions vous
                        répondre ." %}
                        <br>
                        {% trans "Ajustement de la taille des textes
                        Sur tout le site, la taille du texte peut être augmentée ou diminuée par l'internaute à sa convenance par une des
                        méthodes suivantes :" %}
                        <br>
                    </p>
                      <li>{% trans "Combinaisons de touche ""Ctrl +"" ou ""Ctrl -"" sous Windows, ou ""Pomme +"" et ""Pomme -"" sous Mac OS," %} </li>
                      <li>{% trans """Ctrl"" et molette de la souris," %} </li>
                      <li>{% trans "Par les menus de navigateur :" %} </li>
                          
                      <li>{% trans "choix ""Taille du texte"" du menu ""Affichage"" (Internet explorer)," %} </li>
                      <li>{% trans "choix ""Zoom"" du menu ""Affichage"" (Firefox)," %} </li>
                      <li>{% trans "choix ""Zoom"" du menu ""Afficher"" (Opéra)," %} </li>
                      <li>{% trans "choix ""Agrandir ou réduire"" du menu ""Présentation""(Safari)." %}</li>
                </div>

                <div class="box">
                    <p>
                        {% for block in page.content %}
                        <section class="mt-2">{% include_block block %}</section>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}