{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n wagtailcore_tags %}

{% load static %}

{% block content %}
<!--Section de bienvenue-->
<div class="container is-fullhd">
    <div class="py-4">
        <h2 class="title is-1 has-text-centered">{{ page.title }}</h2>
            <div class="px-4">

                <div class="box background-tiles has-background-primary">
                    <div class="content is-medium">
                        <h3>{% trans "Coordonnées de l’organisme et du responsable du traitement" %} </h3>
                        <p>{% trans "Les données présentes sur le présent formulaire sont sauvegardées dans un fichier informatisé par : " %} </p>
                        <li>{% trans "Raison sociale :" %} {{ settings.home.CompanySettings.data_treatement_name }}</li>
                        <li>{% trans "Adresse :" %} {{ settings.home.CompanySettings.data_treatement_adresse }}</li>
                        <li>{% trans "Téléphone :" %} {{ settings.home.CompanySettings.data_treatement_telephone_number }}</li>
                        <li>{% trans "Mail :" %} {{ settings.home.CompanySettings.data_treatement_mail}}</li>
                        <li> {% trans "Numérot de siret :" %} {{ settings.home.CompanySettings.data_treatement_siret }}</li>
                        <br>
                        <p>{% trans " Coordonnées du délégué à la protection des données :" %}</p>
                        <li>{% trans "Raison sociale :" %}  {{ settings.home.CompanySettings.data_treatement_name }}</li>
                        <li>{% trans "Adresse :" %}  {{ settings.home.CompanySettings.data_treatement_adresse }}</li>
                        <li>{% trans "Téléphone :" %} {{ settings.home.CompanySettings.data_treatement_telephone_number }}</li>
                        <li>{% trans "Mail :" %} {{ settings.home.CompanySettings.data_treatement_mail}}</li>
                        <li>{% trans "Numérot de siret :" %}  {{ settings.home.CompanySettings.data_treatement_siret }}</li>
                    </div>
                </div>

                <div class="box">
                    <div class="content is-medium">
                        <h3>{% trans "Finalité :" %}  </h3>
                        <p> 
                            {{page.purpose | richtext}}
                        </p>
                    </div>
                </div>

                <div class="box has-background-primary">
                    <div class="content is-medium">
                        <h3> {% trans "Base légale :" %}  </h3>
                        <p> 
                            {{page.legal_basis | richtext}}
                        </p>
                    </div>
                </div>

                <div class="box">
                    <div class="content is-medium">
                        <h3>{% trans "Les données personnelles traitées par l'entreprise :" %}</h3>
                        <p> 
                            {{page.personal_data_processed | richtext}} 
                        </p>
                    </div>
                </div>

                <div class="box has-background-primary">
                    <div class="content is-medium">
                        <h3>{% trans "Destinataire des données : " %} </h3>
                        <p> 
                            {{page.data_recipient | richtext}} 
                        </p>
                    </div>
                </div>

                <div class="box">
                    <div class="content is-medium">
                        <h3> {% trans "Durée de conservation des données" %} </h3>
                        <p>
                            {{page.data_storage | richtext}} 
                        </p>
                    </div>
                </div>

                <div class="box has-background-primary">
                    <div class="content is-medium">
                        <h3>{% trans "Protection des données :" %}  </h3>
                        <p> 
                            {{page.data_protection | richtext}} 
                        </p>
                    </div>
                </div>


                <div class="box">
                    <div class="content is-medium">
                        <h3> {% trans "Vos droits : " %}</h3>
                        <p>
                            {{page.client_right| richtext}}
                        </p>
                    </div>
                </div>

                <div class="box has-background-primary">
                    <div class="content is-medium">
                        <h3>{% trans "Droits de réclamation auprès de la CNIL :" %}</h3>
                        <p>
                            {{page.cnil | richtext}} 
                        </p>
                    </div>
                </div>

            </div>
    </div>
</div>
{% endblock %}