{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n wagtailcore_tags %}

{% load static i18n %}

{% block content %}
<!--Section de bienvenue-->
<div class="container is-fullhd">
    <div class="py-4">
        <h2 class="title is-1 has-text-centered"> {{page.title}} </h2>
            <div class="px-4">
                <div class="content is-medium">
                    <div class="box has-background-primary">
                        <h3>{% translate "C'est quoi un cookies ?" %}</h3>
                        <p>
                            {% translate "Un cookie est un fichier qui est déposé par votre navigateur sur votre ordinateur lorsque vous surfez sur Internet. Ce
                            fichier est composé uniquement de texte (c’est un fichier texte). Il est donc totalement inoffensif.
                            Ce fichier est généré par le serveur du site que vous consultez et il est envoyé à votre navigateur Internet. C’est le
                            navigateur qui va enregistrer le fichier sur votre disque dur. (car le serveur n’a pas accès directement à votre
                            ordinateur)." %}
                        </p>
                    </div>

                    <div class="box">
                        <h3> {% translate "Les cookies du site :" %} </h3>
                        <p>
                            {{page.cookies_used | richtext}}
                        </p>
                    </div>
                    
                    <div class="box has-background-primary">
                        <h3> {% trans " Comment désactiver les cookies :" %}</h3>
                        <p>
                        {% trans "Ces traceurs ne peuvent pas, techniquement, être désactivés depuis le site. Vous pouvez néanmoins vous opposer à
                        l'utilisation de ces traceurs, exclusivement en paramétrant votre navigateur. Ce paramétrage dépend du navigateur que
                        vous utilisez, mais il est en général simple à réaliser : en principe, vous pouvez soit activer une fonction de
                        navigation privée soit uniquement interdire ou restreindre les traceurs (cookies). Attention, il se peut que des
                        traceurs aient été enregistrés sur votre périphérique avant le paramétrage de votre navigateur : dans ce cas, effacez
                        votre historique de navigation, toujours en utilisant le paramétrage de votre navigateur." %}
                        </p>
                    </div>

                    <div class="box">
                        <P> 
                        {% trans "L'utilisation des traceurs est régie par l'article 32 II de la loi n° 78-17 du 6 janvier 1978, transposant l'article 5.3
                            de la directive 2002/58/CE du parlement européen et du conseil du 12 juillet 2002 modifiée par la directive 2009/136/CE.
                            
                            Pour en savoir plus sur les cookies et traceurs, nous vous invitons à consulter le site de la CNIL : www.cnil.fr." %}
                        </P>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}