{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n wagtailcore_tags %}

{% load static i18n %}

{% block content %}
<!--Section de bienvenue-->
<div class="container is-fullhd">
    <div class="has-text-centered"><h2 class="title is-1">{{ page.title }}</h2></div>
    {% for block in page.content %}
    <section class="mt-2">{% include_block block %}</section>
    {% endfor %}
</div>
{% endblock %}