{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags i18n static custom_tags %}


{% block content %}
<!--Section de bienvenue-->
<div class="container is-fullhd">
    <section class="section">
        <div class="columns is-vcentered background-progress mb-6"> 
            <div class="column is-half content">
                <h2>{{ page.banner_title }}</h2>
                <p>{{ page.banner_subtitle | richtext }}</p>
                {% if self.banner_cta %}
                    <div class="buttons">
                        <a class="button is-primary is-large is-half is-bold" href="{{page.banner_cta.url}}"><strong>{% translate "Je suis interessé" %}</strong></a>
                    </div>
                {% endif %}
            </div>
            {% image self.banner_image fill-500x500 as img %}
            <div class="column">
                <figure class="image">
                    <img src="{{ img.url }}" alt="{{ img.alt }}">
                </figure>
            </div>
        </div>
    </section>

    <!--Section Constat-->
    <!--Section transition-->
    <!--Section début-->
    <!--Section innovation-->
    {% for block in page.content %}
        {% include_block block %}
    {% endfor %}

<!--Section Equipe-->
</div>
{% endblock %}