{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n wagtailcore_tags %}

{% load static i18n %}

{% block content %}
<!--Section de bienvenue-->
<div class="container is-fullhd">
    <div class="content is-medium">
        <div class="py-4">
            <h2 class="title is-1 has-text-centered">{{ page.title }}</h2>
                <div class="px-4">
                    
                    <div class="box has-background-primary">
                        <div class="content is-medium">
                            <h3> {% trans "Propriétaire du site :" %}  </h3>
                            <p> {% trans "Raison sociale :" %}{{ settings.home.CompanySettings.company_name }} </p>
                            <p> {% trans "Adresse :" %}{{ settings.home.CompanySettings.company_adresse }}</p>
                            <p> {% trans "Téléphone :" %} {{ settings.home.CompanySettings.company_telephone_number }}</p>
                            <p> {% trans "Mail :" %} {{ settings.home.CompanySettings.company_mail }}</p>
                            <p> {% trans "Directeur de la publication :" %} {{ settings.home.CompanySettings.company_siret }}</p>
                            <p> {% trans "Numérot de siret :" %}  Nom Directeur publication </p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="content is-medium">
                            <h3> {% trans "Editeur du site : " %} Editeur du site : </h3>
                            <p> {% trans "Raison sociale :" %} {{ settings.home.CompanySettings.company_name }} </p>
                            <p> {% trans "Adresse :" %} {{ settings.home.CompanySettings.company_adresse }}</p>
                            <p> {% trans "Téléphone :" %} {{ settings.home.CompanySettings.company_telephone_number }}</p>
                            <p> {% trans "Mail :" %} {{ settings.home.CompanySettings.company_mail}}</p>
                            <p> {% trans "Numérot de siret :" %} {{ settings.home.CompanySettings.company_siret }}</p>
                        </div>
                    </div>

                    <div class="box has-background-primary">
                        <div class="content is-medium">
                            <h3> {% trans "Hébergeur du site :" %}</h3>
                            <p> {% trans "Raison sociale : " %} Raison sociale : {{ settings.home.CompanySettings.hebergeur_name }} </p>
                            <p> {% trans "Adresse : " %} Adresse : {{ settings.home.CompanySettings.hebergeur_adresse }}</p>
                            <p> {% trans "Téléphone : " %}  {{ settings.home.CompanySettings.hebergeur_telephone_number }}</p>
                            <p> {% trans "Mail :" %} {{ settings.home.CompanySettings.hebergeur_mail }}</p>
                            <p> {% trans "Numérot de siret : " %}  {{ settings.home.CompanySettings.hebergeur_siret }}</p>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}