{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block title %}Search{% endblock %}

{% block content %}
    <section class="hero 200 is-bold has-background-primary has-text-white">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1">Résultats {% if search_query %} de {{ search_query }}{% endif %}</h1>
            </div>
        </div>
    </section>
        {% comment %} <form action="{% url 'search' %}" method="get">
            <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
            <input type="submit" value="Search" class="button">
        </form> {% endcomment %}
    {% if search_results %}
        <section class="search-results mt-4 mb-4">
            <div class="container">
                <div class="columns is-multiline">
                    <div class="column is-12">
                        {% comment %} {% include pagination.html %} {% endcomment %}
                    </div>
                    <div class="column is-12">
                                {% for post in search_results %}
                                    <article class="card mt-4 mb-4">
                                        <div class="card-content">
                                            <div class="content">
                                                <a href="{{ post.url }}">
                                                    <p class="title is-4">{{ post.title}}</p>
                                                </a>
                                                <p>{{ post.subtitle }}</p>
                                            </div>
                                            <div class="has-text-centered">
                                                <a href="{{ post.url }}" class="button is-dark is-fullwidth">Read more</a>
                                            </div>
                                        </div>
                                    </article>
                                {% endfor %}
                    </div>
                    <div class="column is-12">
                            {% comment %} {% include pagination.html %} {% endcomment %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
