// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$orange: hsl(14, 100%, 53%) !default;
$white: #FFFFFF;
$yellow-ROE: #FFD200;
$purple-ROE: #3B449F;
$dark-gray-ROE: #2F2F2E;
// a supprimer
$yellow-ROE-80: rgba(245, 204, 73, 0.8);
$yellow-ROE-20: rgba(245, 204, 73, 0.2);
$purple-ROE-80: rgba(72, 74, 131, 0.8);
$purple-04-ROE: rgba(72, 74, 131, 0.4);
$black-text-ROE: rgba(0, 0, 0, 0.8);
$black-text-light-ROE: rgba(0, 0, 0, 0.6);
$black-titles-ROE: #2F2F2E;
$grey-ROE: #B1AAA8;
$grey-light-ROE: hsla(300, 4%, 68%, 0.2);
// Update Bulma's global variables
$grey-dark: $dark-gray-ROE;
$grey-light: $beige-light;
$primary: $yellow-ROE;
$info: $grey-light-ROE;
$success: $purple-ROE;
$warning: $pink;
$danger: $orange;
$dark: $dark-gray-ROE;
$text: $black-text-ROE;
$link: #3366cc;
$link-hover:#014E9A;
$link-focus:#014E9A;
$link-active:#014E9A;
$widescreen-enabled: true;
$fullhd-enabled: true;
// 
$title-color:$black-titles-ROE;
// 4. modifier plus précisément les valeurs par défaut du thème
$body-background-color: $white;
$control-border-width: 1px;
$input-border-color: #95989a;
$input-hover-border-color: $purple-ROE;
// $input-shadow: none;
// Typography
$family-sans-serif: "Nunito",
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
"Helvetica",
"Arial",
sans-serif !default;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;
$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;
$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;
// Spacing
// $block-spacing: 1.5rem !default;
// // Responsiveness
// // The container horizontal gap, which acts as the offset for breakpoints
// $gap: 32px !default;
// // 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
// $tablet: 769px !default;
// // 960px container + 4rem
// $desktop: 960px+(2 * $gap) !default;
// // 1152px container + 4rem
// $widescreen: 1152px+(2 * $gap) !default;
// $widescreen-enabled: true !default;
// // 1344px container + 4rem
// $fullhd: 1344px+(2 * $gap) !default;
// $fullhd-enabled: true !default;
// Miscellaneous
$easing: ease-out !default;
$radius-small: 2px !default;
$radius: 4px !default;
$radius-large: 6px !default;
$radius-rounded: 9999px !default;
$speed: 86ms !default;
// Flags
$variable-columns: true !default;
$rtl: false !default;
// Buttons
$button-text-color: $black-text-ROE;
// $navbar-box-shadow-size: 12px 12px 12px 12px;
// $navbar-box-shadow-color: red;
// padding: 0 5em;
$navbar-padding-vertical:0rem;
$navbar-padding-horizontal:5rem;
// $navbar-item-active-color: $yellow-ROE;
$navbar-item-active-background-color: transparent;
$navbar-item-hover-color: $black-text-ROE;
$navbar-item-hover-background-color: transparent;
$size-small:0.75rem;
$section-padding: 3rem $size-small;
$section-padding-desktop: 3rem 0;
$card-content-padding: 0.5rem 0.875rem 1rem 0.875rem;
