{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load static i18n %}


{% block content %}
    <div class="container">
        <div class="section" style="background-color:#fafafa">
            <div class="columns">
                <div class="column is-12 is-6-desktop">
                    <p> Find an article : <p>     
                    <div class="field has-addons has-addons-fullwidth">
                        <div class="control">
                            <input class="input" type="text" placeholder="Find a repository">
                        </div>
                        <div class="control">
                            <a class="button is-dark">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                            <span>{% trans "Catégories" %}</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                            <div class="dropdown-content">
                                <a href="#" class="dropdown-item">
                                    Overview
                                </a>
                                <a href="#" class="dropdown-item">
                                    Modifiers
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-multiline">
            {% for post in posts %}
                    <div class="column is-12 is-6-desktop">
                        <article class="card mt-4">
                            {% image post.image fill-1280x960 as img%}
                            {% if img %}
                                <div class="card-image ">
                                    <a href="{{ post.url }}">
                                        <figure class="image is-4by3">
                                            <img src="{{ img.url }}" alt="{{ img.alt }}">
                                        </figure>
                                    </a>
                                </div>
                            {% endif %}
                            <div class="card-content">
                                <div class="content">
                                    {% for tag in post.tags.all %} 
                                        <span class="tag is-light" > {{ tag.name }}</span>
                                    {% endfor %}
                                        <time class="is-light"> {{post.last_published_at}} </time>
                                    <div class="pt-2">
                                        <a href="{{ post.url }}">
                                            <h4 class="title is-4 mt-2">{{post.title}}</h4>
                                        </a>
                                        <p>{{post.subtitle}}</p>
                                    </div>
                                </div>
                                <div class="block-author">
                                        {% image post.author.image fill-60x61 as img%}
                                        <figure class="image">
                                            <img class="is-rounded" src={{img.url}} alt="{{img.alt}}">
                                        </figure>
                                        <span>{{post.author.username}}</span>
                                        <a class="is-link" href="{{ post.url }}"> {% translate "Read more" %} </a>
                                </div>
                            </div>
                        </article>
                    </div>
            {% endfor %}
        </div>
                {% if posts.paginator.num_pages > 1 %}
                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                    <ul class="pagination-list">
                        {% if posts.has_previous %}
                            <li>
                                <a href="?page={{ posts.previous_page_number}}" class="pagination-link" aria-label="Goto page 1">
                                    <span>&laquo; </span>
                                </a>
                                    
                            </li>
                        {% endif %}

                        {% for page_num in posts.paginator.page_range%}
                            <li class="page-item {% if page_num == posts.number %} active {% endif %}">
                                <a href="?page={{ page_num }}" class="pagination-link">
                                    {{ page_num }}
                                </a>
                            </li>
                        {% endfor %}


                        {% if posts.has_next %}
                            <li>
                                <a href="?page={{ posts.next_page_number}}" class="pagination-link">
                                    <span>&raquo;</span>
                                </a>
                                <a href="?page={{ posts.next_page_number}}" class="pagination-link-button">
                                    <button class="button is-medium is-fullwidth is-primary">Voir les articles plus anciens </button>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
</div>

{% endblock %}