{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load custom_tags %}


{% load static i18n %}

{% block extra_meta %}
    {% image self.image fill-322x101 as img %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="ROPENEXO" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{page.url}}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:image" content="{{img.url}}" />

    {% comment %} Twitter Meta {% endcomment %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{{ page.subtitle }} " />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:site" content="@ROpenExo" />
    <meta name="twitter:image" content="{{img.url}}" /> 


{% endblock %}
{% block content %}


<div class="container">
    <div class="section" style="background-color:#fafafa">
        <div class="block has-text-centered-mobile">
            <a class="is-link" href="{{ post.url }}"> {% translate "Retour au article" %} </a> 
        </div>
        <div class="has-text-centered ">
            {% comment %} Changé classe content {% endcomment %}
            <h1 class="title is-4">{{ page.title }}</h1>
            <p class="is-size-7 is-light">{{ page.last_published_at }}</p>
            {% for tag in page.tags.all %} 
                <span>
                    <a href="#" class="tag is-light">{{ tag }}  </a>
                </span>
            {% endfor %}
            {% image self.image fill-322x100 as img %}
            <figure class="image is-322x100">
                <img src={{img.url}} alt="{{img.alt}}"/>
            </figure>
        </div>
    </div>
    <div class="columns is-multiline px-4">
        <div class="column is-12 is-full-desktop">
            <div class="content">
                <strong> {{ page.subtitle }} </strong>
                {% for block in page.content %}
                    <section>{% include_block block %}</section>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="columns is-centered-mobile">
        <div class="column">
            <div class="section">
                {% for block in page.content %}
                    <div class="block-author-article">
                        {% image page.author.image fill-60x61 as img%}
                        <figure class="image">
                            <img class="is-rounded " src={{img.url}} alt="{{img.alt}}">
                        </figure>
                        <p class="title">{{page.author.username}}
                            <span class="subtitle has-text-grey is-size-7">{{page.author.fonction}}</span>
                        </p>
                        <p>{{ page.author.description | truncatechars:60 }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="has-text-centered">
                <div class="icon-share">
                        <h3> PARTAGER : </h3>
                        {% get_social_media_button  "twitter" page.full_url page.title %}
                        {% get_social_media_button  "facebook" page.full_url page.title %}
                        {% get_social_media_button  "linkedin" page.full_url page.title %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}