{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load custom_tags %}


{% load static i18n %}

{% block extra_meta %}
    {% image self.image fill-322x101 as img %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="ROPENEXO" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{page.url}}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:image" content="{{img.url}}" />

    {% comment %} Twitter Meta {% endcomment %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{{ page.subtitle }} " />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:site" content="@ROpenExo" />
    <meta name="twitter:image" content="{{img.url}}" /> 

    <link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/style.min.css" type="text/css">
    <script src="https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/viewer3D.min.js"></script>

{% endblock %}
{% block content %}
<div class="container">
    <section class="section has-text-centered-mobile" >
        {% comment %} <a class="is-link" href="{{ post.url }}"> {% translate "Retour au article" %} </a>  {% endcomment %}
        {% bread_crumbs_navigation  page %}
    </section>
    <section class="section columns">
        <div class="column is-6">
            <h2 class="title is-2">{{page.title}}</h2>
            <p class="subtitle is-6 mb-6 has-text-grey"> Dernière modification : XX/XX/2021    version : XX        Etat d’avancement : Prototype</p>
            {{page.description_header|richtext}}
        <!-- My hero -->
        </div>
        <div class="column is-6">
        <!-- Image -->
            {% image self.image fill-1200x600 as img %}
            <figure class="image is-2by1">
                <img src={{img.url}} alt="{{img.alt}}"/>
            </figure>
        </div>
    </section>
    <section class="section has-text-centered concept-page-cta-btns" >
        {% comment %} <a class="is-link" href="{{ post.url }}"> {% translate "Retour au article" %} </a>  {% endcomment %}
        <button class="button is-primary">Je suis un intéréssé !</button>
        <button class="button is-success is-outlined">Consulter la notice de fabrication</button>
    </section>
    <section class="section">
        <h3 class="title is-3">{% trans "Je suis un utilisateur ou proche qui souhaite tester la solution" %}</h3>
        <div class="columns">
            <div class="column is-8 pt-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum reprehenderit, quidem facere sit quisquam labore rerum in, iste praesentium animi vero perferendis earum porro explicabo corrupti consectetur quam, ea nihil.</p>
                <ul>
                    <li>aliquet neque quis euismod luctus</li>
                    <li>aliquet neque quis euismod luctus</li>
                    <li>aliquet neque quis euismod luctus</li>
                </ul>
            </div>
            <div class="column is-4">
                <figure class="image is-2by1">
                    <img src={{img.url}} alt="{{img.alt}}"/>
                </figure>
            </div>
        </div>
        <div class="blocks has-text-centered concept-page-cta-btns">
            <button class="button is-primary">Je suis un intéréssé !</button>
        </div>
    </section>
    <section class="section">
        {% comment %} <div id="forgeViewer"></div> {% endcomment %}
        <h3 class="title is-3">{% trans "Processus de fabrication" %}</h3>
        {% for tutorial in page.get_tutorials %}
            <article class="card mb-3">
                <h2><a href="{% pageurl tutorial %}">{{ tutorial.title }}</a></h2>
            </article>
        {% endfor %}
    </section>
</div>
{% endblock %}