{% load wagtailcore_tags wagtailimages_tags custom_tags i18n %}
{% image post.image fill-1280x640 as img%}

<article class="concept column is-12">
    <article class="resume_concept">
        <h2 class="title is-2">{{post.title}}</h2>
        <p class="subtitle is-6 has-text-grey"> Dernière modification : XX/XX/2021    version : XX        Etat d’avancement : Prototype</p>
        <a class="block" href="{{ post.url }}">
            <figure class="image is-2by1 my-2">
                <img src="{{ img.url }}" alt="{{ img.alt }}">
            </figure>
        </a>
        {{post.description_header|richtext}}
        <div class="block has-text-centered">
            <a href="{{ post.url }}" class="button is-primary m-auto">
                <span class="icon mr-2">
                    <i class="fas fa-search"></i>
                </span>
                {% translate "En savoir plus" %}
            </a>
        
        </div>
    </article>
    <aside class="related_articles">
    
    </aside>
</article>