{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags custom_tags %}

{% load static i18n %}


{% block content %}
    <div class="container">
        <div class="columns is-multiline">
            {% for post in posts %}
                {% include "concepts/concept_page_preview.html" %}
            {% endfor %}
        </div>
                {% if posts.paginator.num_pages > 1 %}
                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                    <ul class="pagination-list">
                        {% if posts.has_previous %}
                            <li>
                                <a href="?page={{ posts.previous_page_number}}" class="pagination-link" aria-label="Goto page 1">
                                    <span>&laquo; </span>
                                </a>
                                    
                            </li>
                        {% endif %}

                        {% for page_num in posts.paginator.page_range%}
                            <li class="page-item {% if page_num == posts.number %} active {% endif %}">
                                <a href="?page={{ page_num }}" class="pagination-link">
                                    {{ page_num }}
                                </a>
                            </li>
                        {% endfor %}


                        {% if posts.has_next %}
                            <li>
                                <a href="?page={{ posts.next_page_number}}" class="pagination-link">
                                    <span>&raquo;</span>
                                </a>
                                <a href="?page={{ posts.next_page_number}}" class="pagination-link-button">
                                    <button class="button is-medium is-fullwidth is-primary">Voir les articles plus anciens </button>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
</div>

{% endblock %}