{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags i18n static %}

{% block content %}
<div class="container mb-3 mt-3">
    <div class="columns">
        <div class="column">
            <h1 class="title is-1">Title 1</h1>
            <h2 class="title is-2">Title 2</h2>
            <h3 class="title is-3">Title 3</h3>
            <h4 class="title is-4">Title 4</h4>
            <h5 class="title is-5">Title 5</h5>
            <h6 class="title is-6">Title 6</h6>
        </div>
        <div class="column">
            <h1 class="subtitle is-1">Subtitle 1</h1>
            <h2 class="subtitle is-2">Subtitle 2</h2>
            <h3 class="subtitle is-3">Subtitle 3</h3>
            <h4 class="subtitle is-4">Subtitle 4</h4>
            <h5 class="subtitle is-5">Subtitle 5</h5>
            <h6 class="subtitle is-6">Subtitle 6</h6>
        </div>
        <div class="column">
            <p class="title is-1">Title 1</p>
            <p class="subtitle is-3">Subtitle 3</p>

            <p class="title is-2">Title 2</p>
            <p class="subtitle is-4">Subtitle 4</p>

            <p class="title is-3">Title 3</p>
            <p class="subtitle is-5">Subtitle 5</p>
        </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non nibh congue, facilisis risus suscipit, ultricies libero. Vestibulum lorem velit, tempor finibus bibendum ut, pretium sit amet nisi. Sed eget tincidunt turpis. Sed iaculis varius eros molestie pellentesque. Aenean aliquet metus ac varius bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean at leo nibh.</p>

    <p class="block"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris sed consectetur ex. Integer at gravida elit, vitae ultrices augue. Duis tristique tellus eros, quis varius urna tempor id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vulputate interdum cursus. Proin congue sem et diam vulputate semper. Nunc scelerisque ligula sit amet sapien molestie, eu rhoncus lacus aliquet. Ut pellentesque elit et vehicula ultrices.</p>
    <p class="block">Integer volutpat, lacus et tincidunt lacinia, tellus mauris imperdiet sem, quis dignissim justo tellus vitae ligula. Vestibulum et lectus odio. Nunc at elit malesuada, tincidunt erat sed, lacinia nisl. Fusce id metus nunc. Nulla sed fermentum mi, eget posuere arcu. Praesent feugiat vitae metus quis bibendum. Ut sed urna ut metus tempus tempor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc cursus bibendum sodales. Sed nec ligula ac magna mattis tristique. Proin in libero at purus dignissim consequat nec posuere mi. Maecenas ornare nisl enim, eu vestibulum velit sodales vitae. Nunc elementum faucibus nibh sit amet semper. Praesent nec lectus ligula.</p>
    {% comment %} box and tags {% endcomment %}
    <div class="columns">
        <div class="column is-4">
            <span class="tag is-dark">Dark</span>
            <span class="tag is-light">Light</span>
            <span class="tag is-success">Success</span>
            <span class="tag is-danger">Danger</span>
        </div>
        <div class="column is-4">
            <form class="box">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                    <input class="input" type="email" placeholder="e.g. alex@example.com">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                    <input class="input" type="password" placeholder="********">
                    </div>
                </div>

                <button class="button is-primary">Sign in</button>
            </form>
        </div>

        <div class="column is-4">
            <div class="box">
                <article class="media">
                    <div class="media-left">
                    <figure class="image is-64x64">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                    </figure>
                    </div>
                    <div class="media-content">
                    <div class="content">
                        <p>
                        <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                        <a class="level-item" aria-label="reply">
                            <span class="icon is-small">
                            <i class="fas fa-reply" aria-hidden="true"></i>
                            </span>
                        </a>
                        <a class="level-item" aria-label="retweet">
                            <span class="icon is-small">
                            <i class="fas fa-retweet" aria-hidden="true"></i>
                            </span>
                        </a>
                        <a class="level-item" aria-label="like">
                            <span class="icon is-small">
                            <i class="fas fa-heart" aria-hidden="true"></i>
                            </span>
                        </a>
                        </div>
                    </nav>
                    </div>
                </article>
            </div>
        </div>
    </div>

    {% comment %} Buttons {% endcomment %}
    <div class="columns">
        <div class="column">
            <div class="buttons">
                <button class="button is-primary">Primary</button>
                <button class="button is-dark">Dark</button>
            </div>

            <div class="buttons">
                <button class="button is-success">Success</button>
                <button class="button is-danger">Danger</button>
            </div>
            <div class="buttons">
                <button class="button is-outlined">Outlined</button>
                <button class="button is-success is-outlined">Outlined</button>
            </div>
        </div>
        <div class="column">
            <div class="buttons">
                <button class="button is-small is-fullwidth">Small</button>
                <button class="button is-fullwidth">Normal</button>
                <button class="button is-medium is-fullwidth">Medium</button>
                <button class="button is-large is-fullwidth">Large</button>
            </div>
        </div>
        <div class="column">
            <button class="delete mr-2 is-small"></button>
            <button class="delete mr-2"></button>
            <button class="delete mr-2 is-medium"></button>
            <button class="delete mr-2 is-large"></button>
            <div class="block">
                <span class="tag is-success">
                    Hello World
                    <button class="delete is-small"></button>
                </span>
            </div>
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-train"></i>
                </span>
                <span>Paris</span>
                <span class="icon">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span>Budapest</span>
                <span class="icon">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span>Bucharest</span>
                <span class="icon">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span>Istanbul</span>
                <span class="icon">
                    <i class="fas fa-flag-checkered"></i>
                </span>
            </span>
            <progress class="progress is-small is-primary" max="100">15%</progress>
            <progress class="progress is-danger" max="100">30%</progress>
            <progress class="progress is-medium is-dark" max="100">45%</progress>
            <progress class="progress is-large is-info" max="100">60%</progress>
        </div>
        <div class="column">
            <div class="dropdown">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                  <span>Click me</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                <div class="dropdown-content">
                  <a href="#" class="dropdown-item">
                    Overview
                  </a>
                  <a href="#" class="dropdown-item">
                    Modifiers
                  </a>
                  <a href="#" class="dropdown-item">
                    Grid
                  </a>
                  <a href="#" class="dropdown-item">
                    Form
                  </a>
                  <a href="#" class="dropdown-item">
                    Elements
                  </a>
                  <a href="#" class="dropdown-item">
                    Components
                  </a>
                  <a href="#" class="dropdown-item">
                    Layout
                  </a>
                  <hr class="dropdown-divider">
                  <a href="#" class="dropdown-item">
                    More
                  </a>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="columns">
      <div class="column">
        <a class="is-link" href="/">Mon lien avec la class is-link</a>
        <p><a href="/">lien dans un paragraphe</a></p>
        <a href="/">lien dans une div classique</a>
      </div>
      <div class="column">

      </div>
      <div class="column is-6" style="background-color:#fafafa;">
        <input class="input" type="text" placeholder="Rechercher..." name="">
      </div>
      <div class="column">

      </div>
    </div>
</div>
{% endblock %}