@import "../../commons/styles/initial-variables-bulma.scss";

// // wagtail header
// #wagtail header, nav .breadcrumb {
//     background-color: $yellow-ROE;
//     color: $black-titles-ROE;
// }

// .page-explorer .listing .index {
//     background-color: $yellow-ROE-80;
//     color: $black-titles-ROE;
// }

// header h1, header h2, .page-explorer .listing .index .title h2 {
//     color: $black-titles-ROE;
// }
// .page-explorer .listing .index .button {
//     color: $black-titles-ROE;
// }

// .page-explorer .listing .index .button.bicolor {
//     background-color:$purple-ROE-80;
//     color: $white;
// }

// .t-inverted .u-btn-current {
//     color: $black-text-ROE;
// }
.nav-wrapper, .nav-wrapper .inner {
    background-color: $white;
}

.nav-search input {
    border: 1px solid $grey-dark;
    background-color: $white;
    &::placeholder {
        color: $purple-ROE-80;
    }
}

.nav-search .button {
    background-color: $purple-ROE-80;
    &:hover{
        background-color: $purple-ROE;
    }
}

.inner .nav-main a, .nav-main a:hover {
    color: $purple-ROE;
}
.inner .nav-main .menu-active {
    background: $grey-light-ROE;
    a {
        border-left-color:$yellow-ROE;
        color: $purple-ROE;
    }
}

// .nav-submenu__list .menu-item {

// }
$yellow-ROE: #F5CC49;
$purple-ROE: #484A83;


:root {
    // --color-primary-hue: 43;
    // --color-primary-saturation: 99%;
    // --color-primary-lightness: 64%;
    --color-primary: rgba(72, 74, 131, 0.8);
    --color-primary-darker: rgba(72, 74, 131, 1);
    --color-primary-dark: hsl(43, 99%, 64%);
    --color-input-focus: rgb(245, 204, 73, 0.2);
    --color-input-focus-border: #4d0026;
}

