{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <section class="section">
        <h1>{{ page.title }}</h1>
        {{ page.intro|richtext }}
        <form  action="{% pageurl page %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
    </section>
{% endblock %}
