{% load i18n %}


<div class="container mb-sm-5 mt-sm-5">
    <div class="row">
        <div class="col-md-5 offset-md-1 col-sm-12">
            <h1 class="text-center">
                <a href="{{ self.url }}">{% translate "Custom Button Logic in StreamField" %} </a>
            </h1>
        </div>
    </div>
</div>
