{% load wagtailimages_tags %}
<div class="content has-text-centered mb-6">
    <h2>{{self.title}}</h2>
</div>

<div class="columns is-multiline content mb-6">
    {% for user in our_team %} {% image user.image fill-400x400 as img %}
    <div class="column is-one-third">
        <div class="our-team">
            <figure class="image is-128x128 ">
                <img class="is-rounded double-border-thin" src="{{img.url}}" alt="{{img.alt}}">
            </figure>
            <p class="title is-4"> {{user.username}}</p>
            <p class="subtitle has-text-grey-light is-size-6">{{user.fonction}}</p>
            <p>
                {{user.description}}
            </p>
        </div>
    </div>
    {% endfor %}
</div>